.background {
  background-color: grey;
  border-radius: 1em;
}
.main-heading {
  color:goldenrod;
  text-align: center;
}

.films {
  text-align: center;
}

.movie-titles {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: purple;
}

.upcoming {
  text-align: center;

}

.upcoming > input {
  text-align: center;
  color: chartreuse;
  background-color:coral;
  border-radius: 1em 3em;
  
}